a {
  @apply no-underline;
  @apply text-blue-dark;
  transition: 0.2s ease;
}

a:hover {
  @apply text-blue-darker;
}

a > img {
  transition: 0.2s ease;
}

a:hover > img {
  filter: brightness(0.9);
}

.v-enter-active,
.v-leave-active {
  transition: 0.2s;
}

.v-enter,
.v-leave-to {
  opacity: 0;
}
